<footer>
    <div class="container">
        <div class="footer-grid">
            <div>
                {% include "img/groeiportaal_logo_nl_dark.svg" %}
            </div>
            <ul>
                <li class="active"><a href="">home</a></li>
                <li><a href="">features</a></li>
                <li><a href="">cases</a></li>
                <li><a href="">plan een demo</a></li>
            </ul>
            <div>
                <p>
                    <b>Volg het Groeiportaal</b>
                </p>
                <p>
                    &lt;social media links&gt;
                </p>
            </div>
            <div>
                <p>
                    <b>Volg Bronscode</b>
                </p>
                <p>
                    &lt;social media links&gt;
                </p>
            </div>
        </div>
        <div class="footer-partners">
            <span>Powered by</span>
            <div class="logo">{% include "img/bronscode_logo_dark.svg" %}</div>
        </div>
        <hr/>
        <span id="copy">Copyright &copy; 2025 Bronscode B.V.</span>
    </div>
</footer>
</body>

<link rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" async src="/js/main.js"></script>

</html>
