<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Het Groeiportaal | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400,600&family=Roboto:ital,wght@0,200;0,300;0,400;0,500;1,300;1,500&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="container">
            <a class="logo" href="/">
                {% include 'img/groeiportaal_logo_nl.svg' %}
            </a>
            <ul>
                {% for item in nav %}
                    <li {% if page.url == item.url %}class="active"{% endif %}>
                        <a href="{{ item.url }}" {% if item.id == "contact" %}class="btn"{% endif %}>
                            {{ i18n["nl"]["nav"][item.id] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="language-switch">
                <div class="language-switch-btn">
                    NL &blacktriangledown;
                </div>
                <div class="language-switch-menu">
                    EN &nbsp;&nbsp;
                </div>
            </div>
            <div class="mobile-nav-btn">
                {% include 'img/icons-list.svg' %}
            </div>
        </div>
    </nav>