#landing {
    text-align: center;
    padding: 7.5rem 0;
    overflow: hidden;
}

#landing h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}

#landing p {
    color: #fff;
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
}

#landing::after {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-image: url("/img/highrise.jpg");
    z-index: -1;
    background-position: bottom center;
    background-size: calc(30vw + 1700px);
    filter: blur(4px);
}

.case-study {
    padding: 3rem 0;
    background-color: #f3f3f3;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.case-study .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 3rem;
    gap: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
}

.case-logo {
    width: 8rem;
    height: 8rem;
}

.case-buttons .btn {
    width: 12rem;
}

.case-study h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
}

.case-study .hidden-xs {
    display: none;
}

.case-description h4 {
    margin-bottom: -10px;
}

.case-description ul {
    padding-left: 2rem;
}

.case-description ul li {
    padding-left: 0.5rem;
    line-height: 1.5;
}

.case-description p {
    line-height: 1.33;
}

.case-details h4 {
    color: #666;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 35px;
    font-size: 1rem;
}

.case-details p {
    margin: 5px 0;
    line-height: 1;
}

@media (max-width: 768px) {
    .case-study .container {
        grid-template-columns: 1fr;
    }

    .case-description h2 {
        display: none;
    }

    .case-study .hidden-xs {
        display: block;
    }

    .case-screens {
        display: none;
    }
}

.case-screens {
    text-align: center;
    padding-top: 2em;
    padding-bottom: calc(400px + 6em);
}

.case-screens .btn:not(.active) {
    background-color: #ddd;
    color: #000;
    border-color: #999;
}

.btn:not(.active):hover {
    background-color: #eee;
    border-color: #999;
}

.btn:not(.active):active {
    background-color: #ccc;
    border-color: #888;
}

.case-images {
    margin: 2em 0;
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    height: 400px;
    transition: transform 1s ease;
}

.case-images img {
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #0003;
    transition: height 1s ease, opacity 1s ease, filter 1s ease;
    height: 400px;
    cursor: pointer;
}

.case-images img.active {
    height: 400px;
}

.case-images img:not(.active) {
    height: 350px;
    opacity: 0.5;
    filter: blur(0.75px);
}