{% include 'header.liquid' %}

<section id="landing">
    <h1 class="text-aero">Case studies</h1>
    <p>Ontdek hoe het Groeiportaal is ontstaan om de uitdagingen van consortiumprojecten op te lossen.</p>
</section>

<section class="case-study">
    <div class="container">
        <h2 class="hidden-xs">NXTGEN Hightech</h2>
        <div class="case-details">
            <div class="case-logo">
                {% include 'img/nxtgen_logo.svg' %}
            </div>
            <h4>Omvang</h4>
            <div>
                <p><span class="euro">&euro;</span>1 miljard budget</p>
                <p>8 domeinen</p>
                <p>61 projecten</p>
                <p>330 partners</p>
            </div>
            <h4>Rapportagecyclus</h4>
            <div>
                <p>Jaarlijks, in Q1</p>
            </div>
            <h4>Soort rapportages</h4>
            <div>
                <p>Financiële partnerrapportage</p>
                <p>Inhoudelijke projectrapportage</p>
                <p>Publicaties & patenten</p>
            </div>
            <h4>Speciale features</h4>
            <div>
                <p>Excel imports</p>
                <p>Tweetalig interface</p>
                <p>Huisstijl van NXTGEN</p>
            </div>
        </div>
        <div class="case-description">
            <h2>NXTGEN Hightech</h2>
            <p>
                <a href="https://nxtgenhightech.nl" target="_blank">NXTGEN Hightech</a> is een van de grootste consortia binnen het Nationaal Groeifonds, met een investering van €450 miljoen aan subsidie in de Nederlandse hightech sector. 
                Met ruim 330 projectpartners die jaarlijks rapporteren over 61 projecten is er een grote hoeveelheid data die verzameld moet worden.
            </p>
            <p>
                Na het eerste loopjaar van het programma te hebben gewerkt met begrotingen en realisaties door middel van Excel spreadsheets en handmatige e-mailcommunicatie, liep het programmabureau door de omvang van het consortium meteen tegen de limieten van deze werkwijze aan.
            </p>
            <p>
                Tijdens het tweede loopjaar is NXTGEN bij ons gekomen met de vraag of we deze werkwijze konden stroomlijnen door middel van een online portaal.
            </p>
            <h4>Resultaten met het Groeiportaal</h4>
            <ul>
                <li>Foutloze rapportages door geïntegreerd reviewproces.</li>
                <li>Snel overzicht van de stand van zaken van de indiening van rapportages.</li>
                <li>Automatische aggregatie over alle projecten.</li>
            </ul>
            <h4>Uitdagingen</h4>
            <p>
                Het programmabureau van NXTGEN Hightech is verantwoordelijk voor de juistheid van de rapportages van het hele consortium. 
                Hierdoor zijn er meerdere controlestappen nodig: de penvoerder/projectleider dient alle partnerrapportages te controleren, en vervolgens dient het programmabureau de projectrapportages te controleren. 
                Deze acties moeten na elkaar gebeuren, waardoor de doorlooptijd hoog oploopt.
            </p>
            <p>
                Verder was de Excel rapportage foutgevoelig door de grote hoeveelheid mogelijkheden die dit voor de gebruiker openlaat. 
                Én deze Excels moesten vervolgens heen en weer gemaild worden ter controle, wat direct het probleem met versiebeheer blootlegt.
            </p>
            <h4>Oplossing</h4>
            <p>
                Door het Groeiportaal te gebruiken hebben de projectleiders en het programmabureau nu ten alle tijde overzicht over de status van de indiening, en kunnen dus aan de slag met reviewen zodra de rapportages binnen zijn.
            </p>
            <p>
                Verder heeft Bronscode de overgang vanuit de oude Excels naar het portaal gefaciliteerd door een inleesproces op te zetten met uitgebreide checks op (typ)fouten en inconsistenties.
            </p>
        </div>
    </div>
</section>

<section class="case-screens">
    <h2>Screenshots</h2>
    <div class="case-buttons">
        <button class="btn" data-id="1">Openstaande acties</button>
        <button class="btn active" data-id="2">Financiële rapportage</button>
        <button class="btn" data-id="3">Dashboard</button>
        <button class="btn" data-id="4">Timeline</button>
    </div>
    <div class="case-images">
        <img src="/img/nxtgen_screenshot_2.png" data-id="1"/>
        <img class="active" src="/img/nxtgen_screenshot_1.png" data-id="2"/>
        <img src="/img/nxtgen_screenshot_3.png" data-id="3"/>
        <img src="/img/nxtgen_screenshot_4.png" data-id="4"/>
    </div>
</section>

<section class="case-study">
    <div class="container">
        <h2 class="hidden-xs">Toekomst<wbr/>bestendige Leef<wbr/>omgeving</h2>
        <div class="case-details">
            <div class="case-logo">
                {% include 'img/tbl_logo.svg' %}
            </div>
            <h4>Omvang</h4>
            <div>
                <p><span class="euro">&euro;</span>192 miljoen budget</p>
                <p>3 consortia</p>
                <p>23 projecten</p>
                <p>200 partners</p>
            </div>
            <h4>Rapportagecyclus</h4>
            <div>
                <p>Drie keer per jaar,</p>
                <p>in 4 weken</p>
            </div>
            <h4>Soort rapportages</h4>
            <div>
                <p>Financiële partnerrapportage</p>
                <p>Inhoudelijke partnerrapportage</p>
                <p>Inhoudelijke projectrapportage</p>
                <p>Deliverables rapportage</p>
                <p>Publicaties & patenten</p>
                <p>Prototypes & demonstrators</p>
            </div>
            <h4>Speciale features</h4>
            <div>
                <p>Deliverables</p>
                <p>Penvoerder rol</p>
                <p>Huisstijl van TBL</p>
                <p>Geen review stap</p>
            </div>
        </div>
        <div class="case-description">
            <h2>Toekomstbestendige Leefomgeving</h2>
            <p>
                <a href="https://toekomstbestendigeleefomgeving.nl" target="_blank">Toekomstbestendige Leefomgeving</a> (TBL) is een samenwerking van drie consortia in de ontwerp-, bouw- en technieksector met een focus op emissievrije, circulaire en klimaatbestendige innovaties.
            </p>
            <p>
                Het programmabureau van TBL liep tegen veel van dezelfde problemen aan die we bij NXTGEN zagen. Na het uitwisselen van hun ervaringen met NXTGEN is TBL dan ook overgestapt op het Groeiportaal. 
                Tijdens dit tweede implementatietraject zijn er meerdere uitbreidingen op het portaal geweest om verder ook de specifieke uitdagingen van TBL op te lossen.
            </p>
            <p>
                Tijdens het tweede loopjaar is NXTGEN bij ons gekomen met de vraag of we deze werkwijze konden stroomlijnen door middel van een online portaal.
            </p>
            <h4>Resultaten met het Groeiportaal</h4>
            <ul>
                <li>Alledrie de consortia hebben nu dezelfde werkwijze.</li>
                <li>Één bron voor de begrotingen van alle projecten.</li>
                <li>Verschillende gebruikers kunnen verschillende delen van de rapportage invullen.</li>
            </ul>
            <h4>Uitdagingen</h4>
            <p>
                Het TBL groeifonds is opgebouwd uit drie vrij verschillende en zelfstandige consortia: Infra, Gebouwen en Ecosysteem. 
                Elk van deze consortia had een net andere werkwijze ontwikkeld, en hield ook hun eigen begrotingen bij. 
                Dit maakte versiebeheer lastiger.
            </p>
            <p>
                Verder werkt TBL voor het inhoudelijke deel van de NGF rapportage met deliverables die per werkpakket een doelstelling representeren, waarover vervolgens de voortgang gerapporteerd kan worden. 
                De verantwoor-delijkheden voor de deliverables en voor de financiële rapportage liggen vaak verdeeld. 
                Dit maakte de communicatielast hoger.
            </p>
            <h4>Oplossing</h4>
            <p>
                Voor TBL heeft Bronscode het Groeiportaal o.a. uitgebreid met een deliverablerapportage, die los van de financiële rapportage ingevoerd kan worden. 
                Hiertoe is ook het rollensysteem uitgebreid, zodat er verschillende rechten zijn voor de deliverable en financiële rapportage. 
                Daarnaast is ook een “penvoerder” rol is toegevoegd voor de leiding van elk van de consortia.
            </p>
            <p>
                Verder hebben Bronscode en TBL bij de inbedding samengewerkt om het Groeiportaal zo in te richten dat de verschillen tussen alle drie de consortia tegelijk ondersteund worden. 
                Hiermee vormt het Groeiportaal nu een single point of truth voor het hele programma.
            </p>
        </div>
    </div>
</section>

<section class="case-screens">
    <h2>Screenshots</h2>
    <div class="case-buttons">
        <button class="btn" data-id="1">Rollenbeheer</button>
        <button class="btn active" data-id="2">Deliverables rapportage</button>
        <button class="btn" data-id="3">Totaaloverzicht</button>
    </div>
    <div class="case-images">
        <img src="/img/tbl_screenshot_1.png" data-id="1"/>
        <img class="active" src="/img/tbl_screenshot_2.png" data-id="2"/>
        <img src="/img/tbl_screenshot_3.png" data-id="3"/>
    </div>
</section>

<link rel="stylesheet" href="/css/cases.css" />
<script type="text/javascript" src="/js/cases.js" async></script>

{% include 'footer.liquid' %}